VITE_WEBODM_URL=http://localhost:8000
VITE_WEBODM_TOKEN=cole_o_token_jwt_aqui
VITE_WEBODM_PROJECT_ID=1
VITE_WEBODM_TASK_ID=12
VITE_WEBODM_DETECTIONS_URL=
VITE_WEBODM_PUBLIC_TASK_URL=https://revelation-glasgow-existed-using.trycloudflare.com/public/task/bd31fe81-f743-4a6b-80f2-67f2db6d89a1/3d/
